@media (max-width: 1440px) {
	.container {
		width: 1100px;
	}

	.header-desc__title {
	    margin-bottom: 35px;
	    font-size: 65px;
	}

	.header-desc__sub-title {
	    margin-bottom: 40px;
	    font-size: 23px;
	}

	.header-desc {
	    padding-bottom: 180px;
	}

	.how-to-take__item {
		width: 235px;
	}

	.rations {
	    padding-bottom: 150px;
	}

	.rations__items {
		flex-wrap: nowrap;
	}

	.rations__item {
	    width: 240px;
	}

   .rations__items-img>img {
	   	width: 200px;
   }

   .rations__items-img>span>img {
   		width: 50px;
   }
	.our-product {
	    padding-bottom: 130px;
	}

	.our-product__list-left {
	    margin-right: 50px;
	}

	.zoov-love__images>img {
		width: 90%;
	}

	.rations__header {
	    margin-bottom: 120px;
	}

	.zoov-love__text {
	    width: 46%;
	}

	.calculate {
	    margin-top: 110px;
	}

	.calculate__container {
	    width: 100%;
   }

   .calculate__text {
   		font-size: 25px;
   }

   .desc__sub-title {
	    margin-bottom: 25px;
	}

	.desc__text {
		margin-bottom: 25px;
	}

	.desc__img>img {
	    width: 90%;
	}

	.rations__header-title {
		font-size: 40px;
	}

	.ations__header-text {
	    width: 675px;
   }

   .calc-content {
   		width: 65%;
   }
}

@media (max-width: 1300px) {
	.container {
		width: 1000px;
	}

	.logo-stroke {
		display: none;
	}

	.slide__list {
		flex-direction: column;
	}

	.slide__list>div:first-child {
	    margin-bottom: 26px;
	}

	.calc-content {
	    width: 70%;
	}
}

@media (max-width: 1024px) {
	.container {
		width: 900px;
	}

	.description {
	    padding: 180px 0 0 0;
	}

	.desc__wrap {
		flex-direction: column;
	}

	.desc__img>img {
	    width: 100%;
	}

	.faq__title {
	    width: 50%;
	    font-size: 40px;
	    line-height: 120%;
	    margin-right: 60px;
	}

	.why-zooov__items {
		grid-template-columns: repeat(2, 1fr);
	    grid-row-gap: 40px;
	    grid-column-gap: 40px;
	}

	.how-to-take__item {
	    width: 175px;
	}

	.how-to-take {
	    padding-bottom: 130px;
	}

	.rations__item {
	    width: 200px;
	}

	.calc-checkbox {
	    margin-bottom: 19px;
	}

	.calc-form__wt, .calc-form__age, .calc-form__name, .calc-form__phone, .calc-form__features {
	    margin-bottom: 14px;
	}

	.calc-text {
    	margin: 24px 0 26px 0;
	}
}

@media (max-width: 768px) {
	body.lock {
		overflow: hidden;
		height: 100vh;
	}

	.container {
		width: 700px;
	}

	.header {
		background-color: transparent;
	}

	.header__list {
		display: block;
		padding: 100px 0 0  0;
	}

	.header__menu {
		transition: 0.6s;
		position: fixed;
		top: -160%;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #fff;
		overflow: auto;
	}

	.header__menu.menu-active {
		top: 0;
	}

	.header.scrolled .burger::before, .header.scrolled .burger::after, .header.scrolled .burger>span {
		background-color: #000;
	}

	.burger.menu-active>span {
		display: none;
	}

	.burger {
		transition: 0.6s;
	}

	.burger.menu-active {
		margin-top: 20px;
	}

	.burger::before, .burger::after, .burger>span {
		background-color: #fff;
	}

	.burger.menu-active::before {
		background-color: #000;
		transform: rotate(-45deg);
	}

	.burger.menu-active>span {
		background-color: transparent;
	}

	.burger.menu-active::after {
		background-color: #000;
		position: absolute;
		top: 0;
		left: 0;
		transform: rotate(45deg);
	}

	.logo {
		z-index: 2;
	}

	.logo img {
		width: 60px;
		height: 60px;
	}

	.header__list>li:last-child {
		margin-bottom: 30px;
		border: none;
	}

	.header__list>li:hover {
		border: none;
	}

	.header__list {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	.header__list>li {
		margin: 40px 0 0 0;
	}

	.header__list>li>a {
		font-weight: 600;
		font-size: 24px;
		line-height: 140%;
		color: #000000;
	}

	.slide__title {
		text-align: center;
	    margin-bottom: 30px;
	    margin-right: 100px;
	}

	.slide__list {
		align-items: center;
	    margin-bottom: 40px;
	}

	.product__slide-wrap {
		align-items: center;
	}

	.nav {
		display: none;
	}

	.zoov-love__content-container {
	    justify-content: space-between;
	    flex-direction: column-reverse;
	    align-items: center;
	}

	.zoov-love__text-title {
	    width: 100%;
	}

	.zoov-love__text {
	    width: 100%;
	}

	.zoov-love__images {
	    width: 90%;
	    margin-top: 50px;
	}

	.how-to-take__items {
    	flex-direction: column;
	}

	.how-to-take__item {
		margin-bottom: 50px;
		width: 440px;
	}

	.footer-bottom_wrap>p {
		font-size: 11px;
	}

	.how-to-take__item_img-container-two-child {
		display: none;
	}

	.rations__item {
		width: 250px;
	}

	.faq-wrapper {
	    display: flex;
	    flex-direction: column;
	}

	.faq__title {
	    margin-bottom: 25px; 
	}

	.calculate__text {
	    font-size: 20px;
	}

	.form__filed {
	    color: #000;
	    font-weight: 700;
	}

	.form__textarea {
	    color: #000;
	    font-weight: 700;
	}

	.faq {
	    padding-bottom: 50px;
	}

	.how-to-take {
	    padding-bottom: 60px;
	}

	.footer__contacts-text {
	    margin: 15px 0 32px 0;
	}

	.rt-window {
		width: 715px;
		height: 530px;
		padding: 25px;
	}

	.calc-title {
	    font-size: 32px;
	    line-height: 130%;
	    color: #961914;
	    margin-top: 40px;
	}

	.calc-title {
	    font-size: 32px;
	    line-height: 130%;
	    color: #961914;
	    margin-top: 40px;
	}

	.burger {
		display: block;
	}
}


@media (max-width: 650px) {
	.container {
		width: 500px;
	}

	.why-zooov__items {
	    grid-template-columns: 1fr;
	    justify-items: start;
	}

	.faq__item-title {
	    font-size: 14px;
	}

	.form__filed-wrap {
		flex-direction: column;
	}

	.form__filed:first-child {
		margin-bottom: 15px;
	}

	.form__filed {
		min-width: 100%;
		color: #fff;
	}

	.form__textarea {
		min-width: 100%;
		color: #fff;
	}

	.ations__header-text {
		width: 100%;
		font-size: 14px;
	}

	.calculate__container {
		flex-direction: column;
	}

	.calculate__text {
		margin-bottom: 30px;
	}

	.rt-window {
		width: 100%;
	}

	.rt-gallery {
		display: none;
	}

	.rt-main-img {
	    margin-bottom: 15px;
	    margin-right: 15px;
	}

	.rt-order {
	    padding: 10px 40px;
	}

	.rt-grams {
	    margin-bottom: 20px;
	}

	.rt-every-eating {
	    margin: 15px 0 15px 0;
	}

	.rt-nutritional {
	    margin: 25px 0 20px 0;
	}

	.calc-content {
		width: 90%;
	}
}


@media (max-width: 425px) {
	.container {
		width: 350px;
	}

	.calculate-wrap {
	    padding: 40px 20px;
	}

	.header-desc__title {
	    width: 100%;
        font-size: 45px;
	}

	.header-desc__sub-title {
    	width: 100%;
	}

	.desc__text {
	    width: 100%;
	}

	.rations__item {
	    margin-left: 60px;
	}

	.rations__header {
		flex-direction: column;
	}

	.rations__header-title {
		margin-bottom: 30px;
	}

	.rations__item-text {
	    width: 270px;
	}

	.how-to-take__item {
		width: 100%;
	}

	.footer__form {
	    max-width: 100%;
	}

	.footer__form-text {
    	width: 100%;
	}

	.form__checkbox-label {
		margin-bottom: 30px;
	}

	.form__label_wrap {
		flex-direction: column;
		align-items: center;
	}

	.footer-bottom_wrap {
		flex-direction: column;
	}

	.footer-bottom_wrap:not(:last-child) {
		margin-bottom: 20px;
	}

	.th-window {
	    width: 100%;
	}

	.header-bg::before {
		display: none;
	}

	.product__slider {
		padding: 30px;
	}

	.why-zooov {
	    background: url(../img/bg-line2.png) no-repeat center;
	}

	.rt-form {
		width: 100%;
	}

	.rt-imgs {
		display: none;
	}

	.count-input {
		width: 100%;
		text-align: center;
	}

	.rt-form__phone, .rt-form__address, .rt-form__name {
	    padding: 11px 16px;
	    margin-bottom: 10px;
	}

	.count-input {
	    width: 100%;
	    background-color: #F4F5F5;
	}

	.rt-window {
		height: 490px;
	}

	.rt-arrange {
	    padding: 9px 35px;

	}
}

@media (max-width: 380px) {
	.count-input {
    	padding: 14px 90px;
	}
}

@media (max-width: 370px) {
	.container {
		width: 315px;
	}

	.rt-arrange {
		padding: 8px 30px;
		font-size: 15px;
	}

	.rt-order-place {
		display: flex;
		justify-content: space-between;
	}

	.rt-order-place-text {
		margin: 0;
	}

	.rations-checkbox-label p {
	    font-size: 14px;
	}
}

@media (max-width: 375px) {
	.rt-form__name, .rt-form__phone, .rt-form__address, .grams-option {
	    width: 100%;
	}

	.count-input {
	    padding: 14px 80px;
	}

	.rt-window {
		padding: 15px;
	}

	.rt-order-place {
	    display: flex;
	    align-items: center;
	}

	.rt-order-place-text {
		margin-right: 30px;
	}

	.rt-form {
		width: 100%;
	}

	.rt-texts {
	    margin-top: 40px;
	}
}

@media (max-width: 360px) {
	.container {
		width: 310px;
	}

	.rations-checkbox-label {
	    margin-bottom: 14px;
	}

	.rations-checkbox-label p {
	    font-size: 12px;
	}
}

@media (max-width: 345px) {
	.rt-order-place-text {
	    margin-right: 15px;
	}

	.rations-checkbox-label p {
	    font-size: 13px;
   }
	.count-input {
	    width: 100%;
	}
}

@media (max-width: 320px) {
	.container {
		width: 300px;
	}

	.description {
	    padding: 90px 0 0 0;
	}

	.rations__header {
		margin-bottom: 80px;
	}

	.calculate__wrap {
		padding: 20px;
	}

	.calculate__text {
	    font-size: 18px;
	    font-weight: 700;
	}


	.rations__item {
		margin-left: 50px;
	}


	.why-zooov__main-title {
		font-size: 40px;
	}

	.word-arrow-first {
	    top: 65px;
	    left: 117px;
	}

	.faq__item-title {
	    font-size: 12px;
	    font-weight: 700;
	}

	.why-zooov__wraper {
	    margin-bottom: 100px;
	}

	.zoov-love__images {
	    width: 100%;
	    margin-top: 50px;
	}

	.zoov-love__images>img {
	    width: 100%;
	}

	.rt-title {
	    font-size: 18px;
	    margin-bottom: 3px;
	}

	.rt-nutritional {
	    margin: 7px 0 7px 0;
	}

	.rt-every-eating {
	    margin: 5px 0 7px 0;
	}

	.rations-checkbox-label {
	    margin-bottom: 10px;
	}

	.rt-window {
	    height: 480px;
	}
}

@media (max-height: 720px) {
	.calc-content {
		height: 100%;
	}
}

