@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&family=Oswald:wght@700&display=swap');

/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*-----------------------------------------------------------------------------*/

body {
	font-family: 'Montserrat', sans-serif;
}

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
*/

.container {
	width: 1177px;
	margin: 0 auto;
}

.title {
	font-family: Oswald;
}

.header-bg {
	background: url('../img/bg.jpg') no-repeat center top / cover;
	display: flex;
}

.logo-stroke {
	position: relative;
	top: 240px;
}

.header {
	padding: 16px 0 130px 0;
	display: flex;
	justify-content: space-between;
}

.nav {
	list-style-type: none;
	display: flex;
	align-items: center;
}

.nav>li {
	margin-right: 53px;
}

.nav>li:last-child {
	margin-right: 0;
}

.nav>li>a {
	color: #fff;
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
}

.nav>li>a {
	transition: border 0.3s;
}

.nav>li>a:hover {
	border-bottom: 2px solid #961914;
}

.header-desc {
	padding-bottom: 450px;
}

.header-desc__title {
	width: 490.85px;
	color: #fff;
	font-weight: 700;
	font-size: 54px;
	line-height: 130%;
	letter-spacing: 0.02em;
	margin-bottom: 10px;
}

.header-desc__sub-title {
	width: 367.88px;	
	font-family: Montserrat;
	font-size: 20px;
	line-height: 140%;
	color: #fff;
	margin-bottom: 25px;
}

.header-desc__title-circle {
	
}

.header-desc__btn {
}

.header-desc__btn button {
	color: #fff;
	background: #961914;
	border-radius: 8px;
	padding: 13px 42px;
	font-weight: 600;
	font-size: 16px;
	line-height: 140%;
}

.description {
	padding: 180px 0 80px 0;
}

.desc__wrap {
	display: flex;
	align-items: center;
}

.desc__our-product {

}

.desc__title {	
	font-weight: 700;
	font-size: 46px;
	line-height: 130%;
	letter-spacing: 0.02em;
}

.desc__text {
	width: 584px;
	font-size: 16px;
	line-height: 140%;
	color: #434242;
	margin-bottom: 24px;
	margin-top: 32px;
}

.desc__sub-title {
	font-weight: 600;
	font-size: 18px;
	line-height: 130%;
	margin-bottom: 16px;
}

.desc-list {
 padding-left: 18px;
}

.desc-list>li {
	list-style-type: disc;
	color: #961914;
	margin-bottom: 20px;
}

.desc-list>li>span {
	font-size: 16px;
	line-height: 140%;
	color: #434242;
}

.desc__img {
	margin-bottom: 28px;
}

.our-product {
	padding-bottom: 203px;
}

.our-product__wrap {
	background-color: #EAD1D0;
}

.our-product__sub-wrap {
	background: url('../img/bg-line.png') no-repeat center top / cover;
	display: flex;
	justify-content: space-between;	
	padding: 32px 80px;
}

.our-product__container {

}

.our-product__title {
	margin-bottom: 32px;
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
}

.our-product__list-wrap {
	display: flex;
}

.our-product__list-wrap:nth-child(1) {
	padding-right: 72px;
}

.our-product__list>ul>li {
	list-style-type: none;
	margin-bottom: 25px;
	font-weight: 500;
	font-size: 18px;
	color: #434242;
}

.our-product__list>ul>li>span {
	margin-right: 16px;
}

.our-product__list-left {
	margin-right: 72px;
}

.rations {
	padding-bottom: 180px;
}

.rations__header {
	margin-bottom: 75px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.rations__header-title {
	font-family: Oswald;
	font-weight: 700;
	font-size: 46px;
	line-height: 130%;
	letter-spacing: 0.02em;
	color: #000000;
}

.ations__header-text {
	width: 777px;
	font-size: 16px;
	line-height: 140%;
	color: #000000;
}

.rations__items {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.rations__item {
	width: 280px;
}

.rations__items-img {
	position: relative;
	margin-bottom: 45px;
}

.rations__items-img>span {
	position: absolute;
	left: 20px;
	top: 20px;
	z-index: 1;
}

.rations__item-title {
	font-weight: 700;
	font-size: 16px;
	line-height: 130%;
	color: #000;
	margin-bottom: 4px;
}

.rations__item-sub-title {
	font-size: 13px;
	line-height: 130%;
	color: #9F9E9D;
}

.rations__item-text {
	font-size: 14px;
	line-height: 140%;
	color: #434242;
	margin: 16px 0 11px 0;
}

.rations__item-weight {
	font-size: 13px;
	line-height: 130%;
	color: #9F9E9D;
	margin-bottom: 24px;
}

.rations__item-btn {
	padding: 13px 42px;
	border: 1px solid #961914;
	box-sizing: border-box;
	border-radius: 8px;
}

.rations__item-btn>span {
	font-weight: 600;
	font-size: 16px;
	color: #961914;
}

.calculate {
	margin-top: 80px;
	background: #EAD1D0;
}

.calculate__wrap {
	background: url('../img/bg-line.png') no-repeat center top / cover;
	padding: 52px 121px 54px 50px;
	background-position: 
}

.calculate__container {
	width: 1027px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.calculate__text {
	font-weight: 500;
	font-size: 28px;
	line-height: 140%;
	letter-spacing: 0.02em;
	color: #000000;
}

.calculate__btn {
	padding: 13px 42px;
	border-radius: 8px;
	background: #961914;
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;
	color: #FFFFFF;
}

.why-zooov {
	background: url('../img/bg-line2.png') no-repeat center top / cover;
}

.why-zooov__wraper {
	margin-bottom: 190px;
}

.why-zooov__container {}

.why-zooov__main-title {
	margin-bottom: 65px;
	font-weight: 600;
	font-size: 46px;
	line-height: 130%;
	letter-spacing: 0.02em;
}

.why-zooov__title {
	font-weight: 600;
	font-size: 18px;
	line-height: 130%;
	color: #000000;
	margin-bottom: 8px;
}

.why-zooov__main-title>span {
	position: relative;
}

.word-arrow-first {
	position: absolute;
    top: 65px;
    left: 135px;
}

.word-arrow-second {
    position: relative;
    transform: rotate(323deg);
    top: 50px;
    left: 5px;
}

.word-arrow-third {
	position: relative;
    transform: rotate(108deg);
    top: 35px;
    left: 3px;
}

.why-zooov__items {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.why-zooov__item {
	width: 220px;
}

.why-zooov__item:nth-child(4) {
	width: 282px;
}


.why-zooov__img {
	margin-bottom: 20px;
}

.why-zooov__text {
	font-size: 16px;
	line-height: 140%;
	color: #000000;
}

.zoov-love {
	padding-bottom: 180px;
}

.zoov-love__wrap {

}

.zoov-love__container {

}

.zoov-love__content-container {
	display: flex;
	justify-content: space-between;
}

.zoov-love__images {
	position: relative;
	height: 100%;
	width: 50%;
	margin-right: 60px;
}

.zoov-love__images1 {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}

.zoov-love__images2 {
	display: block;
	position: absolute;
	top: 485px;
	left: -55px;
}

.zoov-love__images3 {
	display: block;
	z-index: 1;
	position: absolute;
	top: 287px;
	left: 415px;
}

.zoov-love__images4 {
	display: block;
	position: relative;
	top: 356px;
	left: 194px;	
}

.zoov-love__text {
	width: 50%;
}

.zoov-love__text-title {
	width: 416px;
	font-weight: bold;
	font-size: 46px;
	line-height: 130%;
	letter-spacing: 0.02em;
	margin-bottom: 40px;
}

.zoov-love__text-description {
	width: 520px;
	font-size: 16px;
	line-height: 130%;
	color: #434242;
}



